button.btn.btn-secondary {
    margin-left: 47%;
}

.container {
    background-color: #9098e05c;
}

.select {
    display: table;
    width: 100%;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    background-color: white;
}