<section class="main-message-container pt-4 pb-4">
    <div class="empty-div"></div>
    <div class="text-container text-center">
        <span class="text1 d-block">Gestion des classes, instruments</span>
        <span class="text2 d-block mt-2">des professeurs et étudiants </span>
    </div>
    <br>
    <div class="btn-container text-center mt-4 mb-4 pb-4" *ngIf="!user">
        
        <button class="btn-dimensions btn btn-lg btn-outline-light d-inline-block mt-2"
        routerLink="/auth/login">Se connecter</button>
    </div>
</section>


<br>
<br>

<br>
<br>
<br>