<div class="container h-100  mb-3 pt-menu">

    <div style="text-align:center">
        <h1>
            Instruments Management
        </h1>
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>Nom des instruments</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of instruments" [class.selected]="item === selectedInstrument" (click)="selectInstrument(item)">

                <td>{{ item.label }}</td>

                <td>

                    <!-- <button (click)="addClassroom()" class="btn btn-primary">Ajouter</button>  -->
                    <td><a (click)="deleteInstrument(item)" class="btn btn-danger">Supprimer</a></td>
                    <td><a (click)="openform(item)" class="btn btn-info">Modifier</a></td>
                    <!-- <button mat-raised-button (click)="selectClassroom(item)" color="secondary">Selectionner la classe</button> -->

            </tr>
        </tbody>
    </table>
</div>

<!-- <button type="button" class="btn btn-primary" (click)="openModal()">Ajouter une classe</button> -->
<button class="btn btn-secondary" (click)="openform()">Ajouter un instrument</button>