<ul class="navbar-nav menu-nav-item">
    <li class="nav-item dropdown">
        <!-- <a class="nav-link" id="cartIdDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-bag icon-2x"></i>
        </a> -->
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileIdDropdown">
            <!-- <app-quick-links-inner
                class="dropdown"
                id="profileIdDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false" [title]="'lbizibandoki'">
            </app-quick-links-inner> -->
        </div>
    </li>
</ul>
