.mat-mdc-dialog-container {
    background-color:white;
}


.mat-mdc-dialog-container .mdc-dialog__content {
    color: black;
}

.ng-star-inserted{
    color: rgb(219, 27, 27);
}

.form-label{
    color: black;
}

.mat-mdc-dialog-container .mdc-dialog__title {
    color: black;
}
