/* Supercharge bootstrap colors */
// First override some or all individual color variables
$primary: #FF630E;
$secondary: #7A52F4;
$success: #03DB80;
$info: #7A52F4;
$warning: #ffe700;
$danger: #F71111;
